.call {
  color: white;
  width: 70%;
  padding: 10px;
  padding-top: 15px
}

.call.response-error {
  background-color: #e57373;
}

.call.response-error.dark {
  background-color: #e57373;
}

.call.rpc-call {
  background-color: #ffc107;
}

.call.rpc-call.dark {
  background-color: #ff8a65;
}

.call-box.response {
  justify-content: flex-end;
}

.call-box {
  display: flex;
}

.call-box.hidden {
  display: none;
}
