.logs-react {
	display: grid;
	width: 100%;
	height: 100vh;
	grid-template-columns: 250px 600px;
	grid-template-rows: 60px auto 60px;
	grid-column-gap: 1px;
	grid-row-gap: 1px;
}

.scrollable {
	position: relative;
	overflow-y: scroll;
}

.sidebar {
	grid-row-start: 1;
	grid-row-end: span 3;
}

.content {
	grid-row-start: 1;
	grid-row-end: span 3;
}
